.fish {
    margin: 0;
    background: #014184 url('../images/catchFish/bg_y.jpg') repeat-y center;
}
.fish-game {
    min-height: 724px;
    text-align: center;
    background: url(../images/catchFish/bg.jpg) no-repeat center top;
}
.fish-game #logo {
    height: 235px;
    background: url(../images/catchFish/logo.png) no-repeat center;
}
#game-list {
    display: inline-block;
    margin: 65px auto 0;
    padding: 0 0 20px;
    max-width: 900px;
}
#game-list li {
    position: relative;
    display: inline-block;
    margin: 10px 15px;
    top: 0;
    cursor: pointer;
    -webkit-transition: top 0.4s;
    -o-transition: top 0.4s;
    -moz-transition: top 0.4s;
    transition: top 0.4s;
}
#game-list li img{
	width:150px;
	height:150px;	
}
#game-list .game-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
}
#game-list li:hover {
    top: -10px;
}
#game-list li:hover .game-text {
    color: #ff0;
}